body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("https://cdn.spco.xyz/assets/img/imagedoc-darknoise.png");
}
.players-max {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.zl_zs-container {
  color: #fff;
  text-decoration: none;
  margin: 0;
  margin-top: 10%;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.zl_zs-mapimage {
  height: 200px;
  width: 500px;
  object-fit: none;
  border-radius: 7px;
}
.zl_zs-steam {
  color: #fff;
  text-decoration: none;
}

.zl_zs-steam:link {
  color: #fff;
}

/* visited link */
.zl_zs-steam:visited {
  color: #fff;
}

/* mouse over link */
.zl_zs-steam:hover {
  color: #fff;
}

/* selected link */
.zl_zs-steam:active {
  color: #fff;
}

.zl_zs-name {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  margin-top: 8px;
  margin-left: 10px;
  text-align: left;
  color: #fff;
}
.zl_zs-map {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  margin-top: 3px;
  margin-left: 10px;
  text-align: left;
  color: #fff;
}
.zl_zs-players {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 3px;
  text-align: left;
  color: #fff;
}
